@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap");
.special {
  color: #0066ff;
}

.border-round {
  border-radius: 10px;
}

.display-center-grid {
  display: grid;
  place-items: center;
}

/* Mobile */
/* Styles for tablets and larger screens */
@media (min-width: 768px) {
  body {
    margin: 0;
  }
}

/* Styles for desktops */
@media (min-width: 1024px) {
  body {
    margin: 0;
  }
}
